# OVH API credentials in the same format that the one Certbot ovh plugin use
dns_ovh_endpoint = <% $OVH_ENDPOINT %>
dns_ovh_application_key = <% $OVH_KEY %> 
dns_ovh_application_secret = <% $OVH_SECRET %>
dns_ovh_consumer_key = <% $OVH_CONSUMER_KEY %>